<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo%20simples%20branca.png" alt="E-DUCA" height="40">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Início</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="educacaoDropdown" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Educação
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="educacaoDropdown">
                        <li><a class="dropdown-item" href="/recursos/educacao/basica">Educação Básica</a></li>
                        <li><a class="dropdown-item" href="/recursos/educacao/profissional">Educação Profissional</a></li>
                        <li><a class="dropdown-item" href="/recursos/educacao/superior">Ensino Superior</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/recursos">Todos os Recursos</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i> <%= user.email %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/perfil"><i class="bi bi-person me-2"></i>Meu Perfil</a></li>
                            <li><a class="dropdown-item" href="/recomendacoes"><i class="bi bi-stars me-2"></i>Para Você</a></li>
                            <% if (user.is_admin) { %>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin"><i class="bi bi-speedometer2 me-2"></i>Painel Admin</a></li>
                            <% } %>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/auth/logout"><i class="bi bi-box-arrow-right me-2"></i>Sair</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/cadastro">Cadastrar</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>